@font-face {
    font-family: 'Inter';
    src: url('./assets/Inter.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter-Regular';
    src: url('./assets/Inter-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }